body {
    background: #f1f1f1;
}

.barra {
    background: #3C011A;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0;
}

.dropdown-menu {
    margin: 22px;
    background: #262a34;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}

.menuperfil {
    color: white;
}

.menuperfil:focus {
    background: #adcc3c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}

.cerrar:hover {
    background-color: rgba(206, 65, 22, 0.877);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}

.user {
    font-size: 35px;
}
/*css del logo de la barra superior*/
.logoChis{
    width: 70px;
    margin: 0;
    padding: 0;
}
.logoBarra{
   width:26px;
  margin: -15px;

}

/*BARRA LATERAL*/

.barra-lateral {
    background: #621132;
    color: #fff;
    min-width: 200px;
    min-height: 100vh;

}

.barra-lateral a {
    color: #fff;
}


/*ESTILOS MENU*/

.barra-lateral .menu a {
    display: block;
    padding: 20px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    border-bottom: 2px solid rgba(255, 255, 255, .1);
}

.barra-lateral .menu a:hover {
    background-color: #D7B615;
    text-decoration: none;
}

.active {
    background: #003C5D;
}
.icono_depa{
    width:30px;
     height:30px;

}


.barra-lateral .menu {
    border-top:  #ffffff solid;
    
}

.barra-lateral .menu a i {
    margin-right: 20px;
}

/* Estilos personalizados para los botones */

  
/*MAIN*/

.main {
    padding-top: 40px;
}

.main .columna {
    padding-left: 40px;
    padding-right: 40px;
}



.btn-add {
    background-color: #621132;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
    margin: 20px;
  }
  
  .btn-add:hover {
    background-color: #D7B615;
    color: black;
  }
  
  .btn-edit {
    background-color: #621132;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
    margin: 20px;
  }
  
  .btn-edit:hover {
    background-color: #D7B615;
    color: black;
  }
  
  .btn-filter {
    background-color: #621132;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
    margin: 20px;
  }
  
  .btn-filter:hover {
    background-color: #D7B615;
    color: black;
  }
  
  .form-control {
  border-color: #621132;
  color: #621132;
}

.form-control:focus {
  border-color: #D7B615;
  color: #000000;
}

.filter-select {
  border-color: #621132;
  color: #621132;
}

.filter-select:focus {
  border-color: #D7B615;
  color: #000000;
}

.input-group-prepend {
  margin-right: 10px;
}

.form-control {
    width: 100%;
  }
  
  .input-group-prepend {
    width: auto;
  }
@media screen and (max-width:1300px) {
    .barra-lateral {
        min-width: auto;
    }
    .barra-lateral .menu a span {
        display: none;
    }
    .barra-lateral .menu a i {
        margin: 0;
    }
    .barra {
        min-width: auto;
    }
    .dropdown-menu {
        margin: 20px -79px 0px;
    }
}

@media screen and (max-width:575px) {
    .barra-lateral {
        min-height: auto;
    }
    .barra-lateral .menu a {
        display: inline-block;
        border-bottom: none;
    }
    .dropdown-menu {
        margin: 20px -78px 0px;
    }
    .logocppe {
        width: 100%;
    }
    body {
        background: #D3D3D3;
        font-size: 16px;
        overflow: visible;
    }
}

.formulariorecursos {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.568);
    border-radius: 10px;
    padding: 20px;
}

.menu {
    border-top: 1px #fff solid;
}

@media screen and (max-width:575px) {
    .barra-lateral {
        height: auto;
    }
    .barra-lateral.menu a {
        display: inline-block;
        border-bottom: none;
    }
    .dropdown-menu {
        margin: 20px -78 0px;
    }
    body {
        font-size: 16px;
        overflow: visible;
    }
}